:root {
  --main-color: rgb(27, 22, 39);
  --secundary-color: rgb(87, 87, 87);
  --white: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

p, h1 {
  margin: 0;
}


.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 101;
  transition: 0.2s;
}

.header.not-on-top {
  background-color: rgb(27, 22, 39);
  transition: 0.2s;
}

.header.not-on-top a {
  color: var(--white);
}

.header a.active {
  color: var(--secundary-color);
}

.header.not-on-top a.active {
  color: var(--secundary-color);
}

.left-section {
  margin-left: 50px;
  user-select: none;
}

.left-section h1{
  font-size: 20px;
  color: var(--white);
}

.right-section {
  margin-right: 50px;
  user-select: none;
  display: flex;
}

.right-section a{
  text-decoration: none;
  margin: 12px;
  color: var(--white);
  padding: 10px 16px;
}

.header.on-top .right-section a:hover{
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.1);
}

#home {
  margin-bottom: 60px
}

.section-parallax {
  background-image: url(../images/RIG\ skiff.jpg);
  background-attachment: fixed;
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.filter {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(27, 22, 39),rgba(0,0,0, 1));
}

.parallax-text {
  padding-top: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.section-parallax h1{
  font-size: 50px;
  color: var(--white);
}

.section-parallax span {
  font-size: 16px;
  color: var(--white);
  margin-top: 14px;
  user-select: none;
}

#home img {
  height: 100vh;
}

#about-me {
  background-color: var(--white);
  padding: 60px 150px 60px 150px;
  margin-bottom: 60px;
}

.section-top {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .top-text {
    width: 50%;
  }

  .bottom-text {
    width: 50%;
  }
}

.top-text {
  padding: 20px;
}

.top-text h1{
  padding-bottom: 30px;
}

.top-image {
  width: 50%;
  height: 300px;
}

.section-bottom {
  display: flex;
  margin-top: 100px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.bottom-text {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.bottom-text h1 {
  padding-bottom: 30px;
}

.top-image {
  width: 50%;
  height: 300px;
}

#about-me img {
  width: 300px;
  height: 300px;
  border-radius: 3px;
  object-fit: cover;
}

#projects {
  background-color: white;
  padding: 100px 150px 60px 150px;
}

.projects-title {
  margin: 20px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.grid-item {
  height: 300px;
  width: 1fr;
  border: 1px solid rgb(105, 105, 105);
  display: flex;
  flex-direction: column;
}

.project-image {
  position: relative;
  height: 70%;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(84%);
}

.project-image a {
  width: 100%;
  height: 100%;
}

.project-description {
  border-top: 1px solid rgb(105, 105, 105);
  overflow: hidden;
  padding: 10px 20px 30px 20px;
}

.project-description h1{
  font-size: 18px;
  margin-bottom: 10px;
}

.project-description p{
  font-size: 12px;
  padding-bottom: 10px;
}

.footer {
  height: 400px;
}

.line {
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin: 0 160px 0 160px;
}

#contacts{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 60px 0;
  background-color: rgb(255, 255, 255);
}

.contacts-grid-container {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;
}

.contacts-grid-item {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(105, 105, 105);
}

.contacts-grid-item a {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

/*Responsive header (three-line-menu and mobile navbar)*/

.three-line-menu {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  display: none;
  background: none;
  outline: none;
  border: none;

  z-index: 102;

  margin-right: 10px;
}

.three-line-menu .line, .three-line-menu:after, .three-line-menu:before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--white);
  width: 100%;
  margin: 6px 0;
  transition: 0.4s;
}

.three-line-menu.active .line {
  opacity: 0;
}

.three-line-menu.active:after {
  transform: rotate(45deg) translate(-10px, -6px);
}

.three-line-menu.active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.mobile-nav {
  position: fixed;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  
  transform: translateX(-100%);
  transition: transform 0.4s;
  z-index: 97;
}

.mobile-nav a {
  width: 50%;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  background-color: var(--secundary-color);
  color: #fff;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #fff;
  color: var(--main-color);
}


.mobile-nav.active {
  transform: translateX(0);
}



@media (max-width: 400px) {

  #about-me {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
  }

  .section-top, .section-bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 16px;
  }

  .top-text, .bottom-text {
    width: 100%;
  }

  #projects {
    padding: 40px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    width: 2fr;
    border: 1px solid rgb(105, 105, 105);
    flex-direction: column;
    padding-bottom: 10px;
    
  }

  .line {
    margin: 0 50px;
  }
}

@media (min-width: 401px) AND (max-width: 1024px) {

  #about-me {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }

  .section-top, .section-bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 16px;
  }

  .top-text, .bottom-text {
    width: 100%;
  }

  #projects {
    padding: 40px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .grid-item {
    height: 300px;
    width: 1fr;
    border: 1px solid rgb(105, 105, 105);
    flex-direction: column;
  }


  .line {
    margin: 0 50px;
  }
}

@media (max-width: 1024px) {
  header .right-section {
    display: none;
  }

  .three-line-menu {
    display: block;
  }

  .top-text, .bottom-text {
    padding-bottom: 40px;
  }

  .contacts-grid-container {
    width: 70%;
  }

}

@media (min-width: 321px) AND (max-width: 520px) {
  #projects {
    padding: 20px 0 20px 0;
  }
  
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    height: 300px;
    width: 1fr;
    border: 1px solid rgb(105, 105, 105);
    flex-direction: column;
  }

  .contacts-grid-container {
    width: 80%;
  }

}
@media (max-width: 520px) {
  .grid-item {
    border-left: 1px;
    border-right: 1px;
  }
}

@media (max-width: 540px) {
  .contacts-grid-container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .contacts-grid-item {
    border-left: 1px;
    border-right: 1px;
  }
}


@media (max-width: 320px) {

  #projects {
    padding: 20px 0 20px 0;
  }

  .grid-item {
    height: 300px;
    width: 100%;
    border: 1px solid rgb(105, 105, 105);
    flex-direction: column;
  }
  
}